# Server

TASK_MANAGER_REVERSE_PROXY_APP_PORT=4001

# Routes

TASK_MANAGER_REVERSE_PROXY_APP_AUTH_SERVER_URL=http://192.168.0.0:4101
TASK_MANAGER_REVERSE_PROXY_APP_BFF_URL=http://192.168.0.0:4201
TASK_MANAGER_REVERSE_PROXY_APP_WEB_URL=http://192.168.0.0:4301