# Administration

TASK_MANAGER_AUTH_SERVER_APP_ADMIN_USER="admin"
TASK_MANAGER_AUTH_SERVER_APP_ADMIN_USER="admin"

# Server

TASK_MANAGER_AUTH_SERVER_APP_PORT=4101
TASK_MANAGER_AUTH_SERVER_APP_URL="http://192.168.2.1:4001/auth"

# Database

TASK_MANAGER_AUTH_SERVER_APP_DB_URL="jdbc:postgresql://auth-server-db/auth_server"
TASK_MANAGER_AUTH_SERVER_APP_DB_USER="admin"
TASK_MANAGER_AUTH_SERVER_APP_DB_PASS="admin"