# Server

TASK_MANAGER_PROFILES_API_PORT=4401

# Database

TASK_MANAGER_PROFILES_API_DATASOURCE_URL="jdbc:postgresql://profiles-db/tm_profiles?user=admin&password=admin&ssl=false"

# Auth

TASK_MANAGER_PROFILES_API_ISSUER_URL="http://192.168.0.0:4001/auth/realms/task-manager"