# Administration

TASK_MANAGER_PROFILES_DB_ADMIN_USER="admin"
TASK_MANAGER_PROFILES_DB_ADMIN_PASS="admin"

# Data

TASK_MANAGER_PROFILES_DB_DB_NAME="tm_profiles"

# Server

TASK_MANAGER_PROFILES_DB_PORT=4402