# Server

TASK_MANAGER_BFF_APP_PORT=4201
TASK_MANAGER_BFF_APP_URL=http://192.168.0.0:4001/bff

# Authorization Server

TASK_MANAGER_BFF_APP_ISSUER_URL=http://192.168.0.0:4001/auth/realms/task-manager
TASK_MANAGER_BFF_APP_AUTH_SERVER_CLIENT_ID=task-manager-confidential
TASK_MANAGER_BFF_APP_AUTH_SERVER_CLIENT_SECRET=CONFIDENTIAL_CLIENT_SECRET

# Routes

TASK_MANAGER_BFF_APP_PROFILES_API_URL=http://192.168.0.0:4401
TASK_MANAGER_BFF_APP_TASKS_API_URL=http://192.168.0.0:4501