# Administration

TASK_MANAGER_AUTH_SERVER_DB_ADMIN_USER="admin"
TASK_MANAGER_AUTH_SERVER_DB_ADMIN_PASS="admin"

# Data

TASK_MANAGER_AUTH_SERVER_DB_DB_NAME="auth_server"

# Server

TASK_MANAGER_AUTH_SERVER_DB_PORT=4102